<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>encrypt a message using a public key</h2>
<p>
  Say you want to encrypt a short text message and send it to Mr X.
  easy-encrypt allows you to encrypt it using Mr X's public key.
  Only Mr X can decrypt the message using his private key.
</p>

<app-keys></app-keys>

<ul>
  <li>
    <a target="_blank" rel="noopener" href="https://github.com/shadiakiki1986/easy-encrypt">Source code</a>
  </li>
</ul>

